@keyframes scrollappear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.skills-section {
  padding: 0rem 2rem;
  text-align: center;
}
.skills-section h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem;
  filter: drop-shadow(1rem 1rem 0.4rem #08070782);
  animation: scrollappear ease-in;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
  transition: letter-spacing 0.7s ease;
}
.skills-section h1:hover {
  cursor: default;
  letter-spacing: 0.2rem;
}

.skills-section p {
  margin-top: 3rem;
  font-size: 1.1rem;
  font-weight: bold;
  filter: drop-shadow(1rem 1rem 0.4rem #08070782);
  margin-bottom: 3rem;
  transition: letter-spacing 0.7s ease;
}
.skills-section p:hover {
  cursor: default;
  letter-spacing: 0.15rem;
}
.skills-grid {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.skills-column {
  flex: 1;
  min-width: 280px;
  max-width: 350px;
  animation: scrollappear ease-in;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.skills-column h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #fff;
  filter: drop-shadow(1rem 1rem 0.4rem #08070782);
  transition: letter-spacing 0.7s ease;
}
.skills-column h2:hover {
  cursor: default;
  
}
.skills-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-items: center;
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(5, 49, 116, 0.531), rgba(29, 28, 28, 0.585));
  border-radius: 2rem;
  width: 80px;
  height: 80px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  filter: drop-shadow(1rem 1rem 0.4rem #08070782);
}

.skill-icon img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.skill-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
@media (max-width: 1000px) {
  .skills-section h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    letter-spacing: 0rem;
    filter: drop-shadow(1rem 1rem 0.4rem #08070782);
    }
}
@media (max-width: 900px) {
  .skills-section h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    letter-spacing: 0rem;
    filter: drop-shadow(1rem 1rem 0.4rem #08070782);
    }
}
@media (max-width: 580px) {
  .skills-section h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    filter: drop-shadow(1rem 1rem 0.4rem #08070782);
    }
}